<div class="wrapper">
  <app-header></app-header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0.0
      </div>
      Aplicação desenvolvida para Involves por <strong>Rangel Acácio de Souza</strong>
    </div>
  </footer>
</div>
<app-snackbar></app-snackbar>
<app-loader></app-loader>
